.chip-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  mat-icon {
    color: green;
    margin-left: 1rem;
  }

  mat-icon:hover {
    color: red;
  }
}

// ::ng-deep .mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--primary {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
//   background-color: aqua;
// }